@font-face {
    font-family: "LXGWWenKai-Regular";
    src: url("/fonts/LXGWWenKaiLite-Regular.ttf") format("truetype");
    font-display: swap;
}
/* 
@font-face {
    font-family: "LXGWWenKai-Bold";
    src: url("/fonts/LXGWWenKaiLite-Bold.ttf") format("truetype");
    font-display: swap;
} */